.team-banner{
    background-image: url("../images/Team-Hero-Banner.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: -1;
}
#tabheading{
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    padding-bottom: 12px;
}


.card{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: whitesmoke,
}
.card:hover{
    padding: 10px;
    background-color: #17a2b8 !important
}
#nohoverbody{
    display: block;
    align-items: center;
    justify-content: center;
}
#hoverbody{
    color: white;
}
#hovercard #hoverbody{
    display: none;
}
#hovercard:hover #hoverbody{
    display: block;
}
#hovercard:hover #nohoverbody{
    display: none;
}

