@property --var1 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@property --var2 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@property --var3 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
.timer::after {
  content: "0";
  font: 800 40px system-ui;
}
.timer[data-count="14"] {
  animation: counters 1s forwards ease-in-out;
  counter-reset: var1 var(--var1);
  font: 800 40px system-ui;
  //   padding: 2rem;
}
.timer[data-count="15"] {
  animation: counters 1s forwards ease-in-out;
  counter-reset: var2 var(--var2);
  font: 800 40px system-ui;
  //   padding: 2rem;
}
.timer[data-count="14"]::after {
  content: counter(var1);
}
.timer[data-count="15"]::after {
  content: counter(var2);
}

@keyframes counters {
  from {
    --var1: 0;
    --var2: 0;
    --var3: 0;
  }
  to {
    --var1: 14;
    --var2: 500;
    --var3: 100;
  }
}
